.halloween__icon,
.vacation__icon {
  width: 48px;
  height: 48px;
}

.halloween__icon--cheshireCat {
  background: url(../i/sprite.png) no-repeat;
}

.halloween__icon--geekZombie {
  background: url(../i/sprite.png) -48px 0 no-repeat;
}

.halloween__icon--ninjaGhost {
  background: url(../i/sprite.png) 0 -48px no-repeat;
}

.halloween__icon--pumpkin {
  background: url(../i/sprite.png) -48px -48px no-repeat;
}

.vacation__icon--beachChair {
  background: url(../i/sprite.png) -96px 0 no-repeat;
}

.vacation__icon--cocktail {
  background: url(../i/sprite.png) -96px -48px no-repeat;
}

.vacation__icon--flippers {
  background: url(../i/sprite.png) 0 -96px no-repeat;
}

.vacation__icon--surfboard {
  background: url(../i/sprite.png) -48px -96px no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  .halloween__icon--cheshireCat {
    background: url(../i/sprite@2x.png) no-repeat;
  }

  .halloween__icon--geekZombie {
    background: url(../i/sprite@2x.png) -48px 0 no-repeat;
  }

  .halloween__icon--ninjaGhost {
    background: url(../i/sprite@2x.png) -74px 0 no-repeat;
  }

  .halloween__icon--pumpkin {
    background: url(../i/sprite@2x.png) 0 -48px no-repeat;
  }
}