.icons__icon {
  width: 48px;
  height: 48px
}

.icons__icon--cheshireCat {
  background-image: url(../i/sprite.png);
  background-position: 0 0
}

.icons__icon--geekZombie {
  background-image: url(../i/sprite.png);
  background-position: -48px 0
}

.icons__icon--ninjaGhost {
  background-image: url(../i/sprite.png);
  background-position: 0 -48px
}

.icons__icon--pumpkin {
  background-image: url(../i/sprite.png);
  background-position: -48px -48px
}